USE [nature-net]
GO
/****** Object:  Table [dbo].[Action_Type]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Action_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Action_Type] ON
INSERT [dbo].[Action_Type] ([id], [name], [description]) VALUES (1, N'Add', NULL)
INSERT [dbo].[Action_Type] ([id], [name], [description]) VALUES (2, N'Modify', NULL)
INSERT [dbo].[Action_Type] ([id], [name], [description]) VALUES (3, N'Delete', NULL)
SET IDENTITY_INSERT [dbo].[Action_Type] OFF
/****** Object:  Table [dbo].[User]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[email] [nvarchar](64) NULL,
	[password] [nchar](128) NULL,
	[avatar] [nvarchar](64) NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([id], [name], [email], [password], [avatar], [technical_info]) VALUES (0, N'Default User', NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([id], [name], [email], [password], [avatar], [technical_info]) VALUES (1, N'jimmypk', N'jkravitz@aspennature.org', NULL, N'nn_bearorange.png', NULL)
INSERT [dbo].[User] ([id], [name], [email], [password], [avatar], [technical_info]) VALUES (2, N'adam mccurdy', NULL, NULL, N'NN_SquirrelOrange.png', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Location]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON
INSERT [dbo].[Location] ([id], [name], [description]) VALUES (0, N'Default', N'Default Location')
INSERT [dbo].[Location] ([id], [name], [description]) VALUES (1, N'Hub of Activities', NULL)
INSERT [dbo].[Location] ([id], [name], [description]) VALUES (2, N'Golden Eagle', NULL)
SET IDENTITY_INSERT [dbo].[Location] OFF
/****** Object:  Table [dbo].[Feedback_Type]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_Type](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[description] [nvarchar](max) NULL,
	[data_type] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Feedback_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback_Type] ON
INSERT [dbo].[Feedback_Type] ([id], [name], [description], [data_type]) VALUES (0, N'Default', NULL, N'Null')
INSERT [dbo].[Feedback_Type] ([id], [name], [description], [data_type]) VALUES (1, N'Comment', NULL, N'String')
INSERT [dbo].[Feedback_Type] ([id], [name], [description], [data_type]) VALUES (2, N'Like', NULL, N'Boolean')
SET IDENTITY_INSERT [dbo].[Feedback_Type] OFF
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
	[type_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[parent_id] [int] NOT NULL,
	[object_type] [nvarchar](64) NOT NULL,
	[object] [binary](1) NULL,
	[object_id] [int] NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON
INSERT [dbo].[Feedback] ([id], [note], [date], [type_id], [user_id], [parent_id], [object_type], [object], [object_id], [technical_info]) VALUES (0, N'Default Parent', CAST(0x0000A25E00000000 AS DateTime), 0, 0, 0, N'Null', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
/****** Object:  Table [dbo].[Activity]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](32) NOT NULL,
	[description] [nvarchar](max) NULL,
	[creation_date] [datetime] NOT NULL,
	[expire_date] [datetime] NULL,
	[location_id] [int] NOT NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON
INSERT [dbo].[Activity] ([id], [name], [description], [creation_date], [expire_date], [location_id], [technical_info]) VALUES (0, N'Free Observation', NULL, CAST(0x0000A25E00000000 AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Activity] ([id], [name], [description], [creation_date], [expire_date], [location_id], [technical_info]) VALUES (1, N'Design Idea', NULL, CAST(0x0000A25E00000000 AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Activity] OFF
/****** Object:  Table [dbo].[Action]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Action](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[type_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[object_type] [nvarchar](64) NOT NULL,
	[object] [binary](1) NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Action] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contribution]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contribution](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [nvarchar](max) NULL,
	[media_url] [nvarchar](max) NULL,
	[tags] [nvarchar](max) NULL,
	[date] [datetime] NOT NULL,
	[location_id] [int] NOT NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contribution] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contribution] ON
INSERT [dbo].[Contribution] ([id], [note], [media_url], [tags], [date], [location_id], [technical_info]) VALUES (1, NULL, N'1380218582271.jpg', N'Animal', CAST(0x0000A24500CC9ED0 AS DateTime), 2, NULL)
INSERT [dbo].[Contribution] ([id], [note], [media_url], [tags], [date], [location_id], [technical_info]) VALUES (2, NULL, N'1380219051751.jpg', N'Plant', CAST(0x0000A24500D6C860 AS DateTime), 6, NULL)
INSERT [dbo].[Contribution] ([id], [note], [media_url], [tags], [date], [location_id], [technical_info]) VALUES (3, NULL, N'1380218748963.jpg', N'Landscape', CAST(0x0000A245010D7090 AS DateTime), 3, NULL)
SET IDENTITY_INSERT [dbo].[Contribution] OFF
/****** Object:  Table [dbo].[Collection]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[description] [nvarchar](max) NULL,
	[activity_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Collection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Collection] ON
INSERT [dbo].[Collection] ([id], [name], [description], [activity_id], [user_id], [date], [technical_info]) VALUES (1, N'26 Sep 2013', NULL, 0, 2, CAST(0x0000A24500CC9ED0 AS DateTime), NULL)
INSERT [dbo].[Collection] ([id], [name], [description], [activity_id], [user_id], [date], [technical_info]) VALUES (2, N'27 Sep 2013', NULL, 0, 2, CAST(0x0000A24600914B50 AS DateTime), NULL)
INSERT [dbo].[Collection] ([id], [name], [description], [activity_id], [user_id], [date], [technical_info]) VALUES (3, N'30 Sep 2013', NULL, 0, 2, CAST(0x0000A2490092AAE0 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Collection] OFF
/****** Object:  Table [dbo].[Collection_Contribution_Mapping]    Script Date: 10/31/2013 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection_Contribution_Mapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[contribution_id] [int] NOT NULL,
	[collection_id] [int] NOT NULL,
	[technical_info] [nvarchar](max) NULL,
 CONSTRAINT [PK_Collection_Contribution_Mapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Collection_Contribution_Mapping] ON
INSERT [dbo].[Collection_Contribution_Mapping] ([id], [date], [contribution_id], [collection_id], [technical_info]) VALUES (1, CAST(0x0000A24500CC9ED0 AS DateTime), 1, 1, NULL)
INSERT [dbo].[Collection_Contribution_Mapping] ([id], [date], [contribution_id], [collection_id], [technical_info]) VALUES (2, CAST(0x0000A24500D6C860 AS DateTime), 2, 1, NULL)
INSERT [dbo].[Collection_Contribution_Mapping] ([id], [date], [contribution_id], [collection_id], [technical_info]) VALUES (3, CAST(0x0000A245010D7090 AS DateTime), 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[Collection_Contribution_Mapping] OFF
/****** Object:  View [dbo].[Design_Ideas]    Script Date: 10/31/2013 11:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Design_Ideas]
AS
SELECT     dbo.Contribution.*, dbo.[User].name, dbo.[User].avatar
FROM         dbo.Activity INNER JOIN
                      dbo.Collection ON dbo.Activity.id = dbo.Collection.activity_id INNER JOIN
                      dbo.Collection_Contribution_Mapping ON dbo.Collection.id = dbo.Collection_Contribution_Mapping.collection_id INNER JOIN
					  dbo.Contribution ON dbo.Collection_Contribution_Mapping.contribution_id = dbo.Contribution.id INNER JOIN
                      dbo.[User] ON dbo.Collection.user_id = dbo.[User].id
WHERE     (dbo.Activity.name = 'Design Idea')
GO
/****** Object:  ForeignKey [FK_Action_Action_Type]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Action]  WITH CHECK ADD  CONSTRAINT [FK_Action_Action_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Action_Type] ([id])
GO
ALTER TABLE [dbo].[Action] CHECK CONSTRAINT [FK_Action_Action_Type]
GO
/****** Object:  ForeignKey [FK_Action_User]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Action]  WITH CHECK ADD  CONSTRAINT [FK_Action_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Action] CHECK CONSTRAINT [FK_Action_User]
GO
/****** Object:  ForeignKey [FK_Activity_Location]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Location] FOREIGN KEY([location_id])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Location]
GO
/****** Object:  ForeignKey [FK_Collection_Activity]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Activity] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activity] ([id])
GO
ALTER TABLE [dbo].[Collection] CHECK CONSTRAINT [FK_Collection_Activity]
GO
/****** Object:  ForeignKey [FK_Collection_User]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Collection] CHECK CONSTRAINT [FK_Collection_User]
GO
/****** Object:  ForeignKey [FK_CCMapping_Collection]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Collection_Contribution_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_CCMapping_Collection] FOREIGN KEY([collection_id])
REFERENCES [dbo].[Collection] ([id])
GO
ALTER TABLE [dbo].[Collection_Contribution_Mapping] CHECK CONSTRAINT [FK_CCMapping_Collection]
GO
/****** Object:  ForeignKey [FK_CCMapping_Contribution]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Collection_Contribution_Mapping]  WITH CHECK ADD  CONSTRAINT [FK_CCMapping_Contribution] FOREIGN KEY([contribution_id])
REFERENCES [dbo].[Contribution] ([id])
GO
ALTER TABLE [dbo].[Collection_Contribution_Mapping] CHECK CONSTRAINT [FK_CCMapping_Contribution]
GO
/****** Object:  ForeignKey [FK_Contribution_Location]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Contribution]  WITH CHECK ADD  CONSTRAINT [FK_Contribution_Location] FOREIGN KEY([location_id])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[Contribution] CHECK CONSTRAINT [FK_Contribution_Location]
GO
/****** Object:  ForeignKey [FK_Feedback_Feedback]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Feedback] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Feedback] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Feedback]
GO
/****** Object:  ForeignKey [FK_Feedback_Feedback_Type]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Feedback_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Feedback_Type] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Feedback_Type]
GO
/****** Object:  ForeignKey [FK_Feedback_User]    Script Date: 10/31/2013 11:03:40 ******/
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
