<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nature_net.Properties.Settings.nature_netConnectionString"
            connectionString="Data Source=MJ-PC\SQLEXPRESS;Initial Catalog=nature-net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!--
connection string for MJ's laptop
connectionString="Data Source=MJ-PC\SQLEXPRESS;Initial Catalog=nature-net;Integrated Security=True"

connection string for uncc table top
connectionString="Data Source=CCISUR40-1WWS;Initial Catalog=nature-net;Integrated Security=True"
-->
